@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");
/* ---------------------------------
 *       Override CSS Framework
 * --------------------------------- */
html {
  font-size: 14px;
}
body {
  background-color: #f7f7f7;
}
body,
button,
input,
select,
textarea {
  font-family: "Verdana", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "sans-serif";
}
@media screen and (min-width: 1280px) {
  .is-1-column .container,
  .is-2-column .container {
    max-width: 960px;
    width: 960px;
  }
}
@media screen and (min-width: 1472px) {
  .is-2-column .container {
    max-width: 1152px;
    width: 1152px;
  }
  .is-1-column .container {
    max-width: 960px;
    width: 960px;
  }
}
@media screen and (min-width: 1600px) {
  .is-3-column .container {
    max-width: 1500px;
    width: 1500px;
  }
  .is-2-column .container {
    max-width: 1344px;
    width: 1344px;
  }
  .is-1-column .container {
    max-width: 1152px;
    width: 1152px;
  }
}
@media screen and (min-width: 1700px) {
  .is-3-column .container {
    max-width: 1600px;
    width: 1600px;
  }
  .is-2-column .container {
    max-width: 1472px;
    width: 1472px;
  }
  .is-1-column .container {
    max-width: 1344px;
    width: 1344px;
  }
}
@media screen and (min-width: 1800px) {
  .is-3-column .container {
    max-width: 1700px;
    width: 1700px;
  }
  .is-2-column .container {
    max-width: 1572px;
    width: 1572px;
  }
  .is-1-column .container {
    max-width: 1344px;
    width: 1344px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 1.5rem 1rem;
  }
}
@media screen and (min-width: 769px) {
  .column-main.is-sticky,
  .column-left.is-sticky,
  .column-right.is-sticky,
  .column-right-shadow.is-sticky {
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0.75rem;
  }
  .column-right-shadow.is-sticky {
    top: 1.5rem;
  }
}
.tag.is-grey {
  background: #e7e7e7;
}
.card {
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
}
.card .title {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.card + .card,
.card + .column-right-shadow {
  margin-top: 1.5rem;
}
.card.card-transparent {
  box-shadow: none;
  background: transparent;
}
.card .card-image {
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card .card-image img.thumbnail {
  height: 100%;
  width: auto;
  margin: auto;
}
img.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.navbar-logo img {
  max-height: 5em;
}
.footer-logo img {
  max-height: 1.75rem;
}
.navbar-main {
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.navbar-main i {
  margin-right: 3px;
}
.navbar-main .navbar-menu,
.navbar-main .navbar-start,
.navbar-main .navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
  flex-shrink: 0;
}
.navbar-main .navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
  overflow-x: auto;
}
.navbar-main .navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-main .navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}
.navbar-main .navbar-item {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.75rem;
}
.navbar-main .navbar-item.is-active {
  color: #3273dc;
  background-color: transparent;
}
@media screen and (max-width: 1087px) {
  .navbar-main .navbar-menu {
    justify-content: center;
    box-shadow: none;
  }
  .navbar-main .navbar-start {
    margin-right: 0;
  }
  .navbar-main .navbar-end {
    margin-left: 0;
  }
}
.footer {
  background: #fff;
}
.footer .field .button {
  background: transparent;
}
.widget .media {
  border: none;
}
.widget .media + .media {
  margin-top: 0;
}
.widget .menu-list li ul {
  margin-right: 0;
}
.widget .menu-list a.level {
  display: flex;
}
.widget .has-text-centered figure.image {
  margin: auto;
}
.pagination .pagination-link:not(.is-current),
.pagination .pagination-previous,
.pagination .pagination-next {
  background: #fff;
  border: none;
}
.pagination .pagination-link,
.pagination .pagination-previous,
.pagination .pagination-next {
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.post-navigation {
  justify-content: space-around;
}
.post-navigation .level-item {
  margin-bottom: 0;
}
.timeline {
  margin-left: 1rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  border-left: 1px solid #dbdbdb;
}
.timeline .media {
  position: relative;
}
.timeline .media:before,
.timeline .media:last-child:after {
  content: '';
  display: block;
  position: absolute;
  left: calc(-5px - 1.5rem);
}
.timeline .media:before {
  width: 9px;
  height: 9px;
  top: 1.3rem;
  background: #dbdbdb;
  border-radius: 50%;
}
.timeline .media:first-child:before {
  top: 0.3rem;
}
.timeline .media:last-child:after {
  top: calc(1.3rem + 9px);
  width: 9px;
  bottom: 0;
  background: #fff;
}
.timeline .media:first-child:last-child:after {
  top: calc(0.3rem + 9px);
}
.article .article-meta {
  margin-bottom: 0.5rem !important;
}
.article .content {
  font-size: 1.1rem;
}
.article .content blockquote.pullquote {
  float: right;
  max-width: 50%;
  font-size: 1.15rem;
  position: relative;
}
.article .content a {
  word-wrap: break-word;
}
.article-meta-data {
  padding-left: 1.5rem;
  padding-bottom: 5px;
  color: #565a5f;
}
.article-meta-data .article-date {
  display: inline-block;
}
.article-meta-data .article-date a {
  color: #565a5f;
}
.article-meta-data .article-date a:hover {
  color: #3273dc;
}
.article-meta-data .article-categories,
.article-meta-data .article-tags {
  display: inline-block;
  margin-right: 1rem;
}
.rtl {
  direction: rtl;
}
.rtl .level .level-item:not(:last-child),
.rtl .level.is-mobile .level-item:not(:last-child) {
  margin-left: 0.75rem;
  margin-right: 0;
}
.donate {
  position: relative;
}
.donate .qrcode {
  display: none;
  position: absolute;
  z-index: 99;
  bottom: 2.5em;
  line-height: 0;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.2);
  overflow: hidden;
}
.donate .qrcode img {
  max-width: 280px;
}
.donate:hover .qrcode {
  display: block;
}
.donate:first-child:not(:last-child) .qrcode {
  left: -0.75rem;
}
.donate:last-child:not(:first-child) .qrcode {
  right: -0.75rem;
}
@media screen and (max-width: 768px) {
  #toc {
    display: none;
    position: fixed;
    margin: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
  }
  #toc-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,0.7);
  }
  #toc.is-active,
  #toc-mask.is-active {
    display: block;
  }
}
/* ---------------------------------
 *         Custom modifiers
 * --------------------------------- */
.is-borderless {
  border: none;
}
.is-size-7 {
  font-size: 0.85rem !important;
}
.is-7by1 {
  padding-top: 30%;
}
.is-7by1 img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.is-overflow-x-auto {
  overflow-x: auto !important;
}
.is-flex-grow {
  flex-grow: 1 !important;
}
.is-flex-wrap {
  flex-wrap: wrap !important;
}
.is-flex-start {
  justify-content: start !important;
}
.is-flex-center {
  justify-content: center !important;
}
.is-flex-middle {
  align-items: center !important;
}
.has-order-1 {
  order: 1;
}
.has-order-2 {
  order: 2;
}
.has-order-3 {
  order: 3;
}
.has-mr-6 {
  margin-right: 0.5em !important;
}
.has-mb-6 {
  margin-bottom: 0.5em !important;
}
.has-mr-7 {
  margin-right: 0.25em !important;
}
.has-link-grey,
.has-link-black-ter {
  transition: 0.2s ease;
}
.has-link-grey:hover,
.has-link-black-ter:hover {
  color: #3273dc !important;
}
.has-link-grey {
  color: #7a7a7a !important;
}
.has-link-black-ter {
  color: #242424 !important;
}
@media screen and (max-width: 768px) {
  .has-text-centered-mobile {
    text-align: center !important;
  }
  .is-flex-center-mobile {
    justify-content: center !important;
  }
  .has-mt-5-mobile {
    margin-top: 1em !important;
  }
}
/* ---------------------------------
 *         Font icon fixes
 * --------------------------------- */
.fa,
.fab,
.fal,
.far,
.fas {
  line-height: inherit;
}
.toc li {
  list-style: none;
}
/* ---------------------------------
 *        Fix content elements
 * --------------------------------- */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 400;
  color: #008000;
}
.content h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  color: #008000;
}
.content h1 {
  font-size: 1.75em;
}
.content h2 {
  font-size: 1.5em;
}
.content h3 {
  font-size: 1.25em;
}
.content h4 {
  font-size: 1.125em;
}
.content h5 {
  font-size: 1em;
}
.content code,
.content pre {
  font-family: "Source Code Pro", monospace, "Microsoft YaHei";
}
.content code {
  color: #ff3860;
  background: transparent;
  padding: 0;
}
.content blockquote footer strong + cite {
  margin-left: 0.5em;
}
/* ---------------------------------
 *        Fix code highlight
 * --------------------------------- */
figure.highlight {
  padding: 0;
  width: 100%;
  position: relative;
  margin: 1em 0 1em !important;
  background-color: #364549;
}
figure.highlight.folded .highlight-body {
  height: 0;
}
figure.highlight pre,
figure.highlight table tr:hover {
  color: inherit;
  background: transparent;
}
figure.highlight table {
  width: auto;
}
figure.highlight code {
  color: #fff;
  padding-left: 1rem;
}
figure.highlight pre {
  padding: 0;
  overflow: visible;
}
figure.highlight pre .line {
  line-height: 1.5rem;
}
figure.highlight .gutter {
  display: none;
}
figure.highlight figcaption {
  padding: 0.3em 0.75em;
  text-align: left;
  font-style: normal;
  font-size: 0.8em;
}
figure.highlight figcaption:after {
  clear: both;
  content: " ";
  display: table;
}
figure.highlight figcaption span {
  font-weight: 500;
  font-family: "Source Code Pro", monospace, "Microsoft YaHei";
}
figure.highlight figcaption .fold,
figure.highlight figcaption a {
  color: #9a9a9a;
}
figure.highlight figcaption a {
  float: right;
  margin-left: 0.5em;
}
figure.highlight figcaption .fold {
  margin-right: 0.5em;
  cursor: pointer;
}
figure.highlight .highlight-body {
  overflow: auto;
}
figure.highlight .gutter {
  text-align: right;
}
figure.highlight .tag,
figure.highlight .title,
figure.highlight .number,
figure.highlight .section {
  display: inherit;
  font: inherit;
  margin: inherit;
  padding: inherit;
  background: inherit;
  height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  min-width: inherit;
  border-radius: inherit;
}
/* ---------------------------------
 *          Overflow Table
 * --------------------------------- */
.table-overflow {
  overflow-x: auto;
}
.table-overflow table {
  width: auto !important;
}
.table-overflow table th {
  word-break: keep-all;
}
/* ---------------------------------
 *            Fix Video
 * --------------------------------- */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ---------------------------------
 *        Fix Gist Snippet
 * --------------------------------- */
.gist table tr:hover {
  background: transparent;
}
.gist table td {
  border: none;
}
.gist .file {
  all: initial;
}
.link-preview {
  display: block;
  color: #1b1b2e;
}
.link-preview .link-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid #c2c2c2;
}
.link-preview .descriptions {
  overflow: hidden;
  margin: 0 0.5em;
}
.link-preview .og-description {
  margin-top: 0.2em;
  line-height: 1.5em;
  font-size: 0.8em;
}
.link-preview img {
  max-width: 100px;
}
.blog-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 16px;
}
.blog-card .hbc-link-wrap {
  position: relative;
  margin: 0;
  padding: 0;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.8);
  max-width: 500px;
  border: 1px solid #888;
  background-color: #fff;
}
.blog-card .hbc-link-wrap .hbc-link {
  text-decoration: none !important;
}
.blog-card .hbc-link-wrap .hbc-link .hbc-card {
  margin-top: 7px;
  margin-right: 7px;
  margin-bottom: 4px;
  margin-left: 7px;
  box-sizing: inherit;
}
.blog-card .hbc-link-wrap .hbc-link .hbc-card .hbc-info {
  padding: 0;
  color: #222;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  display: block !important;
}
.blog-card .hbc-link-wrap .hbc-link .hbc-card .hbc-info .hbc-favicon {
  height: 16px;
  width: 16px;
  margin: 0 4px !important;
  border: none;
  vertical-align: bottom;
  display: inline !important;
}
.blog-card .hbc-link-wrap .hbc-link .hbc-card .hbc-info .hbc-site-name {
  margin: 0 0 0 6px;
  color: #222;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  display: inline !important;
}
.blog-card .hbc-link-wrap .hbc-link .hbc-card .hbc-contents {
  height: 114px;
  margin: 6px 0 0 0;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
  display: flex;
}
.blog-card .hbc-link-wrap .hbc-link .hbc-card .hbc-contents .hbc-thumbnail {
  max-width: 100px;
  max-height: 108px;
  padding: 0;
  margin: 0 6px 4px 4px;
}
.blog-card .hbc-link-wrap .hbc-link .hbc-card .hbc-contents .hbc-text {
  flex: 1;
}
.blog-card .hbc-link-wrap .hbc-link .hbc-card .hbc-contents .hbc-title {
  color: #111;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  overflow: hidden;
  word-break: break-all;
}
.blog-card .hbc-link-wrap .hbc-link .hbc-card .hbc-contents .hbc-url {
  color: #46f;
  font-size: 10px;
  font-weight: normal;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-style: italic;
}
.blog-card .hbc-link-wrap .hbc-link .hbc-card .hbc-contents .hbc-description {
  margin: 0;
  color: #333;
  font-size: 11px;
  line-height: 17px;
  padding: 0;
  overflow: hidden;
}
.tag-cloud a {
  color: #4a4a4a;
}
.tag-cloud a:hover {
  color: #3273dc;
}
.content a.about {
  padding-top: 0.6em;
  padding-bottom: 0.1em;
  height: 1.3em;
  line-height: 1.2;
}
.popular-posts-box {
  padding-left: 1.5rem;
  margin-top: 1.8rem;
}
.popular-posts {
  display: flex;
  flex-flow: row wrap;
}
.popular-posts .popular-posts-item {
  display: flex;
  flex-basis: 50%;
  align-items: flex-start;
  text-align: left;
  margin-top: 0.75rem;
}
.popular-posts .popular-posts-item .popular-posts-img {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 1rem;
}
.popular-posts .popular-posts-item .popular-posts-img img {
  object-fit: cover;
  width: 64px;
  height: 64px;
}
.popular-posts .popular-posts-item .popular-posts-title {
  flex-basis: 110px;
  flex-grow: 1;
  flex-align: left;
  padding-right: 1rem;
}
summary {
  cursor: pointer;
}
